html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Arial', sans-serif;
}

h2 {
  font-size: 20px;
  padding: 27px 0 27px 18px;
  margin: 0 0 34px;
  border-bottom: 1px solid #e5e5e5;
  letter-spacing: -1px;
}

#black-bar {
  background-color: #00122f;
  color: white;
  padding: 20px 0;
  font-size: 16px;
}

#black-bar a {
  color: white;

}

.fixed-container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#datetime {			}

#header {
  height: 100px;
}

/*#logo {
    position: absolute;
    top: 40px;
}*/
/*header {
	position: relative;

}*/
header .fixed-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

#header-text {
  /*margin: 48px 180px;*/
  color: #91919f;
  background-image: url('img/down-arrow.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  text-align: left;
  width: 72px;

}

#header-text a {
  color: #448ccb;
  text-decoration: underline;
  text-decoration-color: #448ccb;
  text-decoration-style: dashed;
  letter-spacing: -1px;
}
#currency {
  color: #91919f;

}
#header-weather {
  color: #91919f;
  text-align: right;
  width: 75px;
  background-image: url('img/cloudy.png');
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

#time-weather-mobile {
  display: none;
}

#search {
  height: 45px;
  width: 280px;
  font-size: 14px;
  background-color: #f3f3f3;
  border-radius: 22px;
  background-image: url('img/search.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border-width: 0;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  /*margin-top: 35px;*/
}

#menu-container {
}

#menu-container .fixed-container {
  letter-spacing: -1px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  /*margin-top: 24px;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;

}

.menu-item	{
  margin-right: 10px;
  margin-left: 10px;
  list-style: none;
}

.menu-item:before {
  content: "/\00a0\00a0\00a0\00a0";
  color: #e1e1e5;
  display: inline-flex;
}

.menu-divider {
  color: #e1e1e5;
  display: inline-flex;

}

.menu-item a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  margin: 0 auto;
}

.menu-container-mobile {
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: white;
  width:100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
}

#menu-burger {
  /*width: 48px;*/
  /*height: 48px;*/
  display: none;
}
.mobile-menu {
  position: fixed;
  left:0px;
  top: 150px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: left;
  background-color: #f3f3f3;

}
.mobile-menu-title {
 font-size: 22px;
  z-index: 1100;

}
.mobile-menu-text {
  font-size: 16px;
  z-index: 1100;
  border-bottom: 1px solid #ebebeb;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mobile-menu-text a {
  color: black;
  text-decoration: none;
}


.fixed-container-mobile {
  letter-spacing: -1px;
  margin: 20px;
  background-color: green;
}

.menu-container-mobile ul
{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin:0;
}

.menu-item-mobile	{
  margin-right: 30px;
  margin-left: 30px;
}


.menu-item-mobile a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

#flex-container {
  display: flex;
  justify-content: space-between;
}

#column-left {
  background-color: #FFFFFF;
  width: 250px;

}

.news-item {
  padding-left: 18px;
  margin-bottom: 27px;
  font-size: 14px;
}

.news-item-text {
  margin-bottom: 20px;
}

.news-item-props {
  font-size: 12px;
  position: relative;
}

.news-item-props a {
  color: #91919f;
  text-decoration: none;
}

.news-time {
  position: absolute;
  top: 0;
  left: 120px;
  padding-left: 15px;
  background-image: url('img/icon-time.png');
  background-repeat: no-repeat;
}

.news-comments-count {
  position: absolute;
  top: 0;
  left: 180px;
  padding-left: 15px;
  background-image: url('img/icon-comments.png');
  background-repeat: no-repeat;
}

#all-news-button {
  background-color: white;
  font-size: 14px;
  color: #448ccb;
  position: relative;
  margin: 25px 37px 25px 37px;
  border-radius: 22px;
  border-color:#448ccb;
  border-style: solid;
  width: 177px;
  height: 45px;
}

#column-center {
  width: 420px;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

#column-center :first-child {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

#column-center h3 {
  font-size: 30px;
  font-weight: bold;
  width: 350px;
  letter-spacing: -1px;
  margin: 30px 0 30px 22px;
  max-height: max-content;
}

#column-center h4 {
  font-size: 14px;
  font-weight: bold;
  width: 350px;
  letter-spacing: -1px;
  margin: 0 0 0 22px;
}

#center-big
{
  color: #FFFFFF;
  background-image: url('img/crimea.png');
  background-repeat: no-repeat;
  background-size: 100% auto;

  max-width: 420px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;

}

#center-big .news-item-props
{
  font-size: 12px;
  color: #FFFFFF;
  padding: 22px 0 0 22px;
  height: 30px;
}

#center-big .news-date {
  font-size: 12px;
  position: relative;
  padding-left: 22px;
  /*top: 272px;*/
  /*left: 22px;*/
  background-repeat: no-repeat;
  /*float: left;*/
  display: inline-flex;
}
#center-big .news-time {
  font-size: 12px;
  position: relative;
  /*top: 272px;*/
  /*left: 116px;*/
  background-image: url('img/icon-time-white.png');
  background-position-y: center;
  background-repeat: no-repeat;
  /*float: left;*/
  display: inline-flex;
  margin-bottom: 25px;
}
#center-big .news-item-props a {
  color: #FFFFFF;
}

#central-container {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
  background-image: url('img/central-bg-top.png');
  background-repeat: repeat-x;
}

#central-container .fixed-container {
  overflow-y: hidden;
}

#column-center-left {
  width: 200px;
  margin-top: 20px;
  float: left;
  position: relative;
}
#column-center-right {
  width: 200px;
  margin-top: 20px;
  float: right;
  position: relative;
}

#central-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 420px;
  align-items: flex-start;
}

.article-item {
  width:200px;
  height: 250px;
  font-weight: bold;
  font-size: 14px;
  /*position: relative;*/
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  align-self: center;
  margin-bottom: 20px;
}
.article-item img {
 margin-bottom: 20px;
}

.article-item .news-item-props
{
  font-size: 12px;
  font-weight: normal;
  color: #91919f;
  align-self: flex-end;
}

.article-item .news-item-props a {
  color: #91919f;
  text-decoration: none;
}

.article-item .news-time {
  /*position: absolute;*/
  top: 0;
  left: 73px;
  padding-left: 15px;
  background-image: url('img/icon-time.png');
  background-repeat: no-repeat;
}

.article-item .news-comments-count {
  /*position: absolute;*/
  top: 0;
  left: 137px;
  padding-left: 15px;
  background-image: url('img/icon-comments.png');
  background-repeat: no-repeat;
}

#column-right {
  width: 250px;

}

#column-right img {
  margin-bottom: 20px;
}

#special-news {
  margin-top: 20px;
}

#special-left {
  width: 540px;
  height: 390px;
  padding-left: 22px;
  float: left;
  position: relative;
  background-image: url('img/beijing.png');
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 12px;
}

#special-left h3 {
  font-size: 30px;
  font-weight: bold;
  width: 460px;
  letter-spacing: -1px;
  margin: 35px 0 0 0;
}

#special-left .news-item-props
{
  font-size: 12px;
  padding: 110px 0 0 0;
  position: relative;
}

#special-left .news-date {
  font-size: 12px;
  position: absolute;
  top: 272px;
  left: 22px;
  background-repeat: no-repeat;
  float: left;
}
#special-left .news-time {
  font-size: 12px;
  position: absolute;
  top: 272px;
  left: 116px;
  background-image: url('img/icon-time-white.png');
  background-position-y: center;
  background-repeat: no-repeat;
  float: left;
}
#special-left .news-item-props a {
  color: #FFFFFF;
}

#special-left .additional-text {
  font-size: 12px;
  position: absolute;
  top: 300px;
  float: left;
}

#special-right {
  width: 395px;
  height: 390px;
  float: right;
  position: relative;
  background-color: #FFFFFF;
}
#special-right h2 {
  font-size: 20px;
  padding: 27px 0 27px 18px;
  border-bottom: 1px solid #e5e5e5;
  letter-spacing: -1px;
  margin: 0 0 0 0;

}
.special-item {
  font-size: 16px;
  font-weight: bold;
  width: 340px;
  padding: 27px 30px 20px 21px;
  letter-spacing: -1px;
  float:left;
}

.special-item .news-item-props
{
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #000000;
  position: relative;
  top:20px;

}

.special-item .news-item-props a {
  color: #91919f;
  text-decoration: none;
}

.list {
  padding-left: 20px;
}

.list-item {
  display: list-item;
}

footer {
  background-color: #00122f;
  color: white;
  padding: 20px 20px;
  font-size: 16px;
}
footer a {
  color: white;
  text-decoration: none;
}

footer .fixed-container {
  padding-top: 25px;
  line-height: 2;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

#footer-menu {
  color: #FFFFFF;
  font-size: 16px;
  width: 300px;
  height: 200px;
  float: left;
  columns: 2;
  margin-right: 50px;
}

.f-menu-item {
}

.f-menu-item a {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

#about {
  margin-left: 50px;
  width: 300px;
  float: left;
}

address {
  width: 225px;
  float: right;
  font-style: normal;
}

address #tel {
  background-image: url('img/tel.png');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 30px;
}

address #email {
  background-image: url('img/mail.png');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 30px;
}

#copyright {
  margin: 0px auto 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-color: #26354e;
  border-top-style: solid;
  font-size: 14px;
  width: 100%;
  top: 0px;
  text-align: center;
  clear:both;
}
@media (max-width: 950px) {
  #search {
    height: 45px;
    width: 45px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 22px;
    background-image: url('img/search.png');
    background-repeat: no-repeat;
    border-width: 0;
    float: right;
    padding-left: 0;
    padding-right: 0;
    background-position: 50% 50%;
  }
  #search:focus {
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    background-position: 95% 50%;
  }

}

@media (max-width: 830px) {
  #flex-container {
    flex-wrap: wrap;
  }
  #column-center {
    order: -1;
    margin: 0 0 20px;
  }
}

@media (max-width: 725px) {
  #header-weather{
    display: none;
  }
  #column-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 540px) {
    body {
      display: flex;
      flex-direction: column;

    }
    #logo {
      content:url("img/logo-flat.png");
    }



    #central-container {
      display: flex;
      flex-direction: column;
    }
    .fixed-container {
       flex-grow: 1;
    }
    #central-container .fixed-container {
      padding: 0;
    }
    #column-center {
      width: 100%
    }

    #time-weather-mobile {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 16px;
      color: #91919f;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      justify-content: center;
    }
    #time-weather-mobile :nth-child(n){
      padding-right: 20px;
      padding-left: 20px;
      margin: 0;
      position: relative;
      top:0;
      left:0;
      background-position: 0% 50%;
    }

    #time-weather-mobile .header-weather {
      background: url("img/cloudy.png");
      background-repeat: no-repeat;
      padding-left: 40px;
    }
    .date-mobile {

    }
    #datetime {
        display: none;
    }

    #black-bar .fixed-container {
      justify-content: center;
    }
    #menu-burger {
      display: block;
    }
    menubar {
      display: none;
    }
    .menu-divider {
      display: none;
    }

    #currency {
      display: none;
    }
    #header-text {
      display: none;
    }
    #center-big {
      margin-bottom: 30px;
    }

    #column-center h3 {
      width: 85%;
      font-size: 22px;
    }
    .article-item {
      width: 100%;
      height: initial;

    }
        .article-text {
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 17px;
          padding-bottom: 17px;
        }
        .article-item img {
          width: 100%;
          padding: 0;
        }
        .article-item .news-item-props {
          padding-left: 25px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
        .article-item .news-item-props :nth-child(n) {
          position: relative;
          left: initial;
          margin-left: 20px;
        }

        .article-item .news-item-props :first-child {
          position: relative;
          left: initial;
          margin-left: 0px;
        }
        h2, .news-item {
          padding-left: 25px;
          padding-right: 25px;
        }
        #all-news-button {
          margin-left: 25px;
          margin-right: 25px;
          width: 85%;
        }
    #column-left {
      width: 100%;
    }

    #column-right {
      padding-left: 25px;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: hidden;

    }
        #column-right :nth-child(n) {
          margin-left: 20px;
          margin-bottom: 0px;
        }
    #special-news {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    #special-left {
      width: 100%;
      flex-grow: 1;
    }
    #special-left h3 {
      width: inherit;
      font-size: 22px;
    }
    #special-left .news-time {
      left: 40%;
    }
    #special-left .additional-text {
      display: none;
    }
    #central-container {
      padding-bottom: 0;
    }
    #special-right {
      width: 100%;
      flex-grow: 1;
      height: initial;
      padding-bottom: 25px;
    }
    .special-item {
      width: initial;
    }
    footer .fixed-container nav,#about,address {
      margin-left:0;
      margin-right: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    #about-links {
      display: flex;
      height: 150px;
      flex-flow: row wrap;
      margin-top: 20px;

    }

    #about-links :nth-child(n) {
      margin-bottom: 20px;
      margin-right: 20px;
      flex-basis: 40%;
    }

    address :nth-child(n) {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    #copyright {
      color:
    }


}

@media (max-width: 400px) {
  #black-bar {
    font-size: 14px;
  }


}

@media (max-width: 350px) {
  #black-bar {
    font-size: 12px;
  }

}